<!-- <div class="container table-responsive">
    <h5>Expense Summary BTC</h5>
    <table class="table text-center table-bordered">
      <thead>
        <tr>
          <th><b><small>S.no</small></b></th>
          <th><b><small>Expense</small></b></th>
          <th><b><small>BTE Amount</small></b></th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of BTCSummaryTable; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{expense.Expense}}</td>
          <td>{{expense.Amount}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="text-right"><b><small>Total BTE Amount</small></b></td>
          <td>{{hpcBTCTotalAmount}}</td>
        </tr>
      </tfoot>

    </table>
  </div> -->