mat-step-header{
    background-color: red;
  }
  
  table.table-bordered > thead > tr > th {
    border:1px solid black;
  }
  table.table-bordered > tbody > tr > th,td {
    border:1px solid rgb(209, 162, 162);
  }
  table.table-striped > thead > tr > th {
    border:1px solid black;
  }
  table.table-striped > tbody > tr > th,td {
    border:1px solid rgb(209, 162, 162);
  }
  
  ::ng-deep .mat-tooltip {
    font-size: 12px !important;
    background-color: grey !important;
    color: #fff !important;
  }
  
  ::ng-deep .mat-step-label {
    font-size: 10px !important;
  }

  .pagination-row {
    text-align: right;
  }
  
  .additional{
    border: none;
  }