.limit-text-to-1-lines {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; */
  }

  .role {
    font-size: 11px;
    font-weight: 800;
    color: red;
 }