<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Honorarium Payment Request</h4>
            </div>

           
  
            <div class="card-body">
                <!-- <div class="row" >
                    <div class="col border">
                        <b>Event ID:</b>
                        <div><p style="color: red;">comes from sheet</p></div>
                        
                    </div>
                    <div class="col border">
                        <b>Event Name:</b>
                        <p style="color: red;">comes from sheet</p>
                    </div>
                    <div class="col border">
                        <b>Event Type:</b>
                        <p style="color: red;">comes from sheet</p>
                    </div>
               
                    <div class="col border">
                        <b>Event Venue:</b>
                        <p style="color: red;">comes from sheet</p>
                    </div>
                 
                    <div class="col border">
                        <b>Event Date & Time:</b>
                        <p style="color: red;">comes from sheet</p>

                    </div>
                </div> -->

                <div class="container table-responsive table-bordered">
                    <table class="table text-center table-striped" >
                      <thead>
                        <tr>
                          <th><small>S.no</small></th>
                          <th><small>Event ID</small></th>
                          <th><small>Event Name</small></th>
                          <th><small>Event Type</small></th>
                          <th><small>Venue</small></th>
                          <th><small>Event Date</small></th>
                        </tr>
                      </thead>
                      <tbody >
                        <tr>
                          <th>1</th>
                          <td>EVT1</td>
                          <td>Medical Affairs</td>
                          <td>Class I</td>
                          <td>ITC Grand</td>
                          <td>2024-05-03</td>
                        </tr>
                        
                      </tbody>
              
                    </table>
                  </div>
                
                           
                    <div class="row">
                        
                        <div class="col">
                            <form [formGroup]="honorarium" >
                                
                                <div class="row">
            
    
                                    <div class="col m-3 "  >
                                        <mat-label><b>Upload Deviation</b></mat-label><br>
                                        
                                            <input  type="file" formControlName="uploadDeviation">
                                        
                                    </div>
    
                                </div>
    
                               
                                <div class="row">
                                    <div class="col m-3">
                                        
                                            <mat-label><b>Upload Photos</b></mat-label><br>                                          
                                                <input type="file" formControlName="uploadPhotos">
                                        
                                    </div>
                                </div>

                                <div class="table-responsive ">
                                    <table class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th><small>S.no</small></th>
                                          <th><small>HCP Role</small></th>
                                          <th><small>HCP Name</small></th>
                                          <th><small>MIS Code</small></th>
                                          <th><small>Go/NGo</small></th>
                                          <th><small>Agreement Amount</small></th>
                                          <th><small>Is it including GST?</small></th>
                                          <th><small>Upload Honorarium invoice</small></th>
                                          <th><small>Upload Speaker agreement</small></th>
                                          <th><small>Actions</small></th>
                                        </tr>
                                      </thead>
                                      <tbody >
                                        <tr>
                                          <th scope="row">1</th>
                                          <th>HCP Role-1</th>
                                          <th>HCP1</th>
                                          <th>MS01</th>
                                          <th>GO</th>
                                          <th>3500</th>
                                          <th >
                                            <div>
                                                <mat-radio-group formControlName="isItIncludingGST">
                                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                                <mat-radio-button value="No">No</mat-radio-button>
                                            </mat-radio-group>
                                            </div>
                                          </th>
                                          <th>
                                            <div><input type="file" style="width: 150px;"></div>
                                          </th>
                                          <th >
                                            <div ><input type="file"style="width: 150px;" [disabled]="showuploadifGSTyes"></div>
                                          </th>
                                          <th>
                                            <div class="d-flex justify-content-center">
                                                <i class="material-icons" style="margin-right: 5px;">edit</i>
                                                <i class="material-icons">delete</i>
                                            </div>
                                          </th>
                                         
                          
                                        </tr>
                                      </tbody>
                          
                                    </table>
                                  </div>
        
                                 <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-sm btn-primary"> Reset </button> 
                                    
                                    <button type="submit" class="btn btn-sm btn-warning"> Submit </button> 
        
                                 </div>
                              
                            </form>

                        </div>
                        
                        
        
                       
                        
                   


                    </div>
                
                </div>
                </div>
                </div>
                </div>
                </div>
</div>




