.speakerCriterias-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.speakerCriterias-radio-button {
  margin: 5px;
}
::ng-deep .mat-radio-label {
  align-items: inherit!important;
}
.invalid-field {
  border-color: red !important;
  color: red;
}