
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
			<div>
			  <mat-tab-group [selectedIndex]="selectedActionEvent">
			    <mat-tab label="View Existing Speakers" routerLink="/master-list/speaker-code-creation/view-speakers">
			      <app-view-speakers></app-view-speakers>
			    </mat-tab>
			    <mat-tab label="Add New Speaker" routerLink="/master-list/speaker-code-creation/add-speaker">
			      <app-add-speaker></app-add-speaker>
			    </mat-tab>
			  </mat-tab-group>
			</div>
      </div>
    </div>
  </div>
</div>
      
