
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Post Event Settlement request</h4>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                      <div class="card ">
                          <div class="card-body">
                           
                              <div class="row" >

                            
                                <div class="container table-responsive">
                                    <table class="table table-striped" >
                                      <thead>
                                        <tr>
                                          <th><small>S.no</small></th>
                                          <th><small>Event ID</small></th>
                                          <th><small>Event Name</small></th>
                                          <th><small>Event Type</small></th>
                                          <th><small>Venue</small></th>
                                          <th><small>Event Date</small></th>
                                        </tr>
                                      </thead>
                                      <tbody >
                                        <tr>
                                          <th>1</th>
                                          <td>EVT1</td>
                                          <td>Medical Affairs</td>
                                          <td>Class I</td>
                                          <td>ITC Grand</td>
                                          <td>2024-05-03</td>
                                        </tr>
                                        
                                      </tbody>
                              
                                    </table>
                                  </div>

           
                            
                            <form formGroup="PostEventSettlement">
                                <div class="row m-2">
                             
                                  <div class="col mt-2" >
                                    <div class="w50 " >
                                        <mat-label><b>Upload Deviation if more than 30 days</b></mat-label>
                                        <mat-form-field >
                                            <input   type="file" formControlName="uploadDeviation">
                                        </mat-form-field>
                                  </div>
                                  </div>
                                </div>
                         
                                <div class="container table-responsive ">
                                    <div class="col text-danger"><h4><b>Invitees Participation</b></h4></div>
                                    <table class="table table-bordered" >
                                      <thead>
                                        <tr>
                                          <th><small>S.no</small></th>
                                          <th><small>Is Present?</small></th>
                                          <th><small>Invitees</small></th>
                                          <th><small>Local Conveyance</small></th>
                                          <th><small>BTC / BTE</small></th>
                                          <th><small>LC Amount</small></th>
                                          <th><small>Actual Amount</small></th>
                                          <th><small>Actions</small></th>
                                        </tr>
                                      </thead>
                                      <tbody >
                                        <tr>
                                          <th>1</th>
                                          <td><input type="checkbox"></td>
                                          <td>Invitee - 1</td>
                                          <td>Yes</td>
                                          <td>BTE</td>
                                          <td>1500</td>
                                          <td><input  type="number" formControlName=""></td>
                                          <td>
                                            <i class="material-icons" style="margin-right: 5px;">edit</i>
                                                <i class="material-icons">delete</i>
                                          </td>
                                        </tr>
                                        
                                      </tbody>
                              
                                    </table>
                                  </div>
                                <div class="row m-2">
                                    <div class="col m-1">
                                        <mat-label><b>Total Attendance</b></mat-label>
                                        <div>
                                        <input  type="number" formControlName="TotalAttendance" >
                                    </div>
                                    </div>
                                    <div class="col">
                                        <mat-label><b>Upload Attendance sheet</b></mat-label>
                                        <input type="file">
                                    </div>
                                    <div class="col">
                                        <mat-label><b>Upload Deviation</b></mat-label>
                                        <input type="file">
                                    </div>
                                </div>
                                
                                 <div class="container table-responsive"  >
                                    <div class="col text-danger"><h4><b>Expense Details</b></h4></div>
                                    
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr >
                                                <th><b><small>S.no</small></b></th>
                                                <th><b><small>Expense</small></b></th>
                                                <th><b><small>Expense Amount</small></b></th>
                                                <th><b><small>Actual Amount</small></b></th>
                                                <th><b><small>BTE/BTC</small></b></th>
                                                <th><b><small>Including GST</small></b></th>
                                                <th><b><small>Actions</small></b></th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>CME Activities</td>
                                                    <td>3455</td>
                                                    <td>
                                                        <input type="number" name="" id="">
                                                    </td>
                                                    <td>BTC</td>
                                                    <td>Yes</td>
                                                    <td>
                                                        <i class="material-icons" style="margin-right: 5px;">edit</i>
                                                <i class="material-icons">delete</i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                       
                                         </table>
                                  </div>

                                  <div class="row m-2">
                                    <div class="col ">
                                        <mat-label><b>Do you want to add new Expense?</b></mat-label>
                                        <mat-radio-group >
                                            <div>
                                            <mat-radio-button value="Yes" class="m-2"  ><small>Yes</small></mat-radio-button>
                                            <mat-radio-button value="No" class="m-2"><small>No</small></mat-radio-button>
                                        </div>
                                            </mat-radio-group >

                                    </div>
                                    <div class="col">
                                        <div class="dropdown">
                                            <mat-label ><b>Expense</b></mat-label>
                                            <div>                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                              Select Expense
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                              <button class="dropdown-item" type="button" value="Expense1">Expense1</button>
                                              <button class="dropdown-item" type="button" value="Expense1">Expense1</button>
                                              <button class="dropdown-item" type="button" value="Expense3">Expense3</button>
                                            </div>
                                          </div>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <mat-label><b>Enter Expense amount without GST</b></mat-label>
                                        <input type="number">
                                    </div>
                                    </div>
                                    <div class="row m-2">
                                    <div class="col">
                                        <mat-label><b>Enter GST amount</b></mat-label>
                                        <div>
                                         <input type="number">
                                        </div>

                                    </div>
                                    <div class="col ">
                                        <mat-label><b>Calculate cost per participant?</b></mat-label>
                                        <mat-radio-group >
                                            <div>
                                            <mat-radio-button value="Yes" class="m-2"  ><small>Yes</small></mat-radio-button>
                                            <mat-radio-button value="No" class="m-2"><small>No</small></mat-radio-button>
                                        </div>
                                            </mat-radio-group >

                                    </div>
                                    <div class="col">
                                        <mat-label><b> cost per participant?</b></mat-label>
                                        <input type="number" disabled>
                                    </div>
                                  </div> 
                                  <div class="row m-2">
                                    <div class="col">
                                        <mat-label><b>Upload Deviation</b></mat-label>
                                        <div>
                                        <input type="file">
                                    </div>
                                    </div>
                                    <div class="col">
                                        <mat-label><b>Is BTC / BTE ?</b></mat-label>
                                        <mat-radio-group >
                                            <div>
                                            <mat-radio-button value="BTC" class="m-2"  ><small>BTC</small></mat-radio-button>
                                            <mat-radio-button value="BTE" class="m-2"><small>BTE</small></mat-radio-button>
                                        </div>
                                            </mat-radio-group >

                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary btn-sm" >AddNew</button>
                                        <button type="button" class="btn btn-success btn-sm" >Save</button>
                                        <button type="button" class="btn btn-warning btn-sm">Reset</button>
                                    </div>
                                  </div>
                                  <div class="container table-responsive ">
                                    <div class="col text-danger"><h4><b>Total Expense Details</b></h4></div>
                                    <table class="table table-bordered" >
                                      <thead>
                                        <tr>
                                          <th><small>Event ID</small></th>
                                          <th><small>Total Panel Selection Final Amount</small></th>
                                          <th><small>Total Invitees Final Amount</small></th>
                                          <th><small>Total Expense</small></th>
                                          <th><small>Total Budget For the Event</small></th>
                                          
                                        </tr>
                                      </thead>
                                      <tbody >
                                        <tr>
                                          <th>001</th>
                                          <td>57100</td>
                                          <td>5100</td>
                                          <td>8222</td>
                                          <td>70422</td>
                                        </tr>
                                        
                                      </tbody>
                              
                                    </table>
                                  </div>
                                  <div class="container table-responsive ">
                                    <div class="col text-danger"><h4><b>Advance Details</b></h4></div>
                                    <table class="table table-bordered" >
                                      <thead>
                                        <tr>
                                          <th><small>Event ID</small></th>
                                          <th><small>Advance Provided</small></th>
                                          <th><small>Advance utilized for event</small></th>
                                          <th><small>Pay back amount to Company</small></th>
                                          <th><small>Additional Amount needed to pay for Initiator</small></th>
                                          
                                        </tr>
                                      </thead>
                                      <tbody >
                                        <tr>
                                          <th>001</th>
                                          <td>50000</td>
                                          <td>70422</td>
                                          <td>Nil</td>
                                          <td>20422</td>
                                        </tr>
                                        
                                      </tbody>
                              
                                    </table>
                                  </div>
                                  <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-primary btn-sm">Reset</button>
                                    <button class="btn btn-success btn-sm" >Submit</button>
                                  </div>
                                  
                            </form>
                            </div>
                     
                        </div>
                    </div>
                 </div>
             </div>
         </div>
    </div>
  </div>
</div>
</div>
</div>
        
        


                                
            