<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Post Event Settlement request</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-body">

                    <div class="row">


                      <div class="container table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th><small>S.no</small></th>
                              <th><small>Event ID</small></th>
                              <th><small>Event Name</small></th>
                              <th><small>Event Type</small></th>
                              <th><small>Venue</small></th>
                              <th><small>Event Date</small></th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let events of after30DaysList; index as i">
                            <tr>
                              <th scope="row">{{i+1}}</th>
                              <td>{{events['EventId/EventRequestId']}}</td>
                              <td>{{events['Event Topic']}}</td>
                              <td>{{events.EventType}}</td>
                              <td>{{events.VenueName}}</td>
                              <td>{{events.EventDate}}</td>
                            </tr>

                          </tbody>

                        </table>
                      </div>

                      <div class="col mt-2" *ngIf="show30DaysUpload">
                        <div class="w50 ">
                          <mat-label><b>Upload Deviation if more than 30 days</b></mat-label>
                          <div>
                            <input type="file">
                          </div>


                        </div>
                      </div>

                      <div class="col-6">
                        <mat-form-field color="accent" appearance="outline">
                          <mat-label>Select Event ID</mat-label>
                          <mat-select  (ngModelChange)="onEventSelect($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedEvent" >
                            <mat-option *ngFor="let selectId of after30DaysList" value="{{selectId['EventId/EventRequestId']}}">{{selectId['EventId/EventRequestId']}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="container" *ngIf="showPostEventContent">


                        <form>

                          

                          <div class="col text-danger">
                            <h4><b>Invitees Participation</b></h4>
                          </div>


                          <div class="table-responsive ">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th><small>S.no</small></th>
                                  <th><small>Is Present?</small></th>
                                  <th><small>Invitees</small></th>
                                  <th><small>Local Conveyance</small></th>
                                  <th><small>BTC / BTE</small></th>
                                  <th><small>LC Amount</small></th>
                                  <th><small>Actual Amount</small></th>
                                  <th><small>Actions</small></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let invitee of inviteeTableDetails; index as i">
                                  <td>{{i+1}}</td>
                                  <td><input type="checkbox"
                                      (ngModelChange)="inviteePresent($event,present+inviteeTableIsPresentCheckBox[i])"
                                      [ngModelOptions]="{standalone: true}"
                                      [(ngModel)]="present+inviteeTableIsPresentCheckBox[i]"></td>
                                  <td>{{invitee.InviteeName}}</td>
                                  <td>{{invitee.LocalConveyance}}</td>
                                  <td>{{invitee['BTC/BTE']}}</td>
                                  <td>{{invitee.LcAmount}}</td>
                                  <td><input type="number"></td>
                                  <td style="cursor: pointer;">
                                    <i class="material-icons" style="margin-right: 5px;">edit</i>
                                    <i class="material-icons">delete</i>
                                  </td>
                                </tr>

                              </tbody>

                            </table>
                          </div>
                          <div class="row m-2">
                            <div class="col m-1">
                              <mat-label><b>Total Attendance</b></mat-label>
                              <div>
                                <input type="number" disabled="true" [ngModelOptions]="{standalone: true}"
                                  [(ngModel)]="totalAttendance">
                              </div>
                            </div>
                            <div class="col">
                              <mat-label><b>Upload Attendance sheet</b></mat-label><br>
                              <input type="file">
                            </div>
                            <div class="col" *ngIf="showInviteeDeviation">
                              <mat-label><b>Upload Deviation</b></mat-label><br>
                              <input type="file">
                            </div>
                          </div>

                          <div class="container table-responsive">
                            <div class="col text-danger">
                              <h4><b>Expense Details</b></h4>
                            </div>

                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th><b><small>S.no</small></b></th>
                                  <th><b><small>Expense</small></b></th>
                                  <th><b><small>Expense Amount</small></b></th>
                                  <th><b><small>Actual Amount</small></b></th>
                                  <th><b><small>BTE/BTC</small></b></th>
                                  <th><b><small>Including GST</small></b></th>
                                  <th><b><small>Actions</small></b></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let expense of expenseTabelDetails; index as i">
                                  <th scope="row">{{i+1}}</th>
                                  <td>{{expense.Expense}}</td>
                                  <td>{{expense.Amount}}</td>
                                  <td>
                                    <input type="number"  (ngModelChange)="onExpenseActualAmountChanges($event,expenseTableActualAmountInput,i)" [ngModelOptions]="{standalone: true}" [(ngModel)]="expenseTableActualAmountInput[i]" >
                                  </td>
                                  <td>{{expense['BTC/BTE']}}</td>
                                  <td>{{(expense['AmountExcludingTax?'] == 'Yes')? 'No' : 'Yes' }}</td>
                                  <td>
                                    <i class="material-icons" style="margin-right: 5px;">edit</i>
                                    <i class="material-icons">delete</i>
                                  </td>
                                </tr>

                                <tr *ngFor="let expense of expenseTabelDetails2; index as i">
                                  <th scope="row">{{i+1}}</th>
                                  <td>{{expense.Expense}}</td>
                                  <td>{{expense.Amount}}</td>
                                  <td>
                                    <input type="number" disabled value={{expense.Amount}} >
                                  </td>
                                  <td>{{expense['BTC/BTE']}}</td>
                                  <td>{{(expense['AmountExcludingTax?'] == 'Yes')? 'No' : 'Yes' }}</td>
                                  <td>
                                    <i class="material-icons" style="margin-right: 5px;">edit</i>
                                    <i class="material-icons">delete</i>
                                  </td>
                                </tr>
                              </tbody>

                            </table>
                          </div>

                          <div class="row m-2">
                            <div class="col ">
                              <mat-label><b>Do you want to add new Expense?</b></mat-label>
                              <mat-radio-group (ngModelChange)="onAddExpenseRadioChange($event,addExpenseRadio)" [ngModelOptions]="{standalone: true}" [(ngModel)]="addExpenseRadio">
                                <div>
                                  <mat-radio-button value="Yes" class="m-2"><small>Yes</small></mat-radio-button>
                                  <mat-radio-button value="No" class="m-2"><small>No</small></mat-radio-button>
                                </div>
                              </mat-radio-group>

                            </div>
                            
                          </div>
                        
                            <form [formGroup]="addExpenseForm"  *ngIf="showAddExpense">
                              <div class="row">
                                <div class="col">
                               
                                  <mat-form-field color="accent" appearance="outline">
                                    <mat-label>Expense</mat-label>
                                    <mat-select formControlName="expenseType">
                                      <mat-option *ngFor="let exp of expenseType" value={{exp.ExpenseType}}>{{exp.ExpenseType}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  
                                
                                  <mat-form-field color="accent" appearance="outline">
                                    <mat-label>Enter Expense amount without GST</mat-label>
                                    <input type="number" matInput placeholder="Enter Expense amount" formControlName="expenseAmountWithoutGST">
                                  </mat-form-field>
                                    
                               
                                  
    
                                  <!-- <div>
                                    <mat-label><b>Calculate cost per participant?</b></mat-label>
                                    <mat-radio-group >
                                      <div>
                                        <mat-radio-button value="Yes" class="m-2"  ><small>Yes</small></mat-radio-button>
                                        <mat-radio-button value="No" class="m-2"><small>No</small></mat-radio-button>
                                        </div>
                                    </mat-radio-group >
    
                                  </div> -->
                                 
    
                                  
    
                              
                                </div>
                                <div class="col">
                                  
                                  <mat-form-field color="accent" appearance="outline">
                                    <mat-label>Enter GST amount</mat-label>
                                    <input type="number" matInput placeholder="Enter Expense amount" formControlName="gstAmount">
                                  </mat-form-field>
    
                                  <div>
                                    <mat-label><b>Is BTC / BTE ?</b></mat-label>
                                    <mat-radio-group formControlName="expenseBTC" >
                                        <div>
                                          <mat-radio-button value="BTC" class="m-2"  ><small>BTC</small></mat-radio-button>
                                          <mat-radio-button value="BTE" class="m-2"><small>BTE</small></mat-radio-button>
                                        </div>
                                    </mat-radio-group >
                                  </div>
    
                                  
    
                                  <!-- <div>
                                    <mat-label><b>Upload Deviation</b></mat-label><br>
                                      <input type="file">
                                  </div> -->
    
                                  <!-- <div>
                                    <mat-label><b> cost per participant?</b></mat-label><br>
                                    <input type="number" disabled>
                                  </div> -->
                                </div>
                              </div>
                           
                         
                              <div class="row">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                  <button (click)="addToExpenseTable()" type="button" class="btn btn-primary btn-sm">AddNew</button>
                                  <!-- <button type="button" class="btn btn-success btn-sm">Save</button>
                                  <button type="button" class="btn btn-warning btn-sm">Reset</button> -->
                                </div>
                              </div>
                            </form>
                          <div class="container table-responsive ">
                            <div class="col text-danger">
                              <h4><b>Total Expense Details</b></h4>
                            </div>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th><small>Event ID</small></th>
                                  <th><small>Total Panel Selection Final Amount</small></th>
                                  <th><small>Total Invitees Final Amount</small></th>
                                  <th><small>Total Expense</small></th>
                                  <th><small>Total Budget For the Event</small></th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>{{selectedEvent}}</th>
                                  <td>{{panelSelectionFinalAmount}}</td>
                                  <td>{{inviteesFinalAmount}}</td>
                                  <td>{{expenseFinalAmount}}</td>
                                  <td>{{amountTableFinalAmount}}</td>
                                </tr>

                              </tbody>

                            </table>
                          </div>
                          <div class="container table-responsive ">
                            <div class="col text-danger">
                              <h4><b>Advance Details</b></h4>
                            </div>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th><small>Event ID</small></th>
                                  <th><small>Advance Provided</small></th>
                                  <th><small>Advance utilized for event</small></th>
                                  <th><small>Pay back amount to Company</small></th>
                                  <th><small>Additional Amount needed to pay for Initiator</small></th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>{{selectedEvent}}</th>
                                  <td>{{amountTableFinalAmount}}</td>
                                  <td>{{advancedUtilized}}</td>
                                  <td>{{amountToPayForCompany}}</td>
                                  <td>{{amountToPayForInitiator}}</td>
                                </tr>

                              </tbody>

                            </table>
                          </div>
                          <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary btn-sm">Reset</button>
                            <button class="btn btn-success btn-sm">Submit</button>
                          </div>

                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>