<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Honararium Event Request List</h4>
          </div>
          <div class="container table-responsive table-bordered ">
            <table class="table text-center table-striped overflow-hidden ">
              <thead>
                <tr>
                  <th><small><b>No</b></small></th>
                  <th><small><b>Event ID</b></small></th>
                  <th><small><b>Event Name</b></small></th>
                  <th><small><b>Event Type</b></small></th>
                  <th><small><b>Event Date & Time</b></small></th>
                  <th><small><b>View Event Request</b></small></th>
                  <th><small><b>Honorarium Request Status</b></small></th>
                  <th><small><b>Honorarium Approved Date</b></small></th>
                  <th><small><b>View Honorarium Request</b></small></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let events of eventList; index as i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{events['EventId/EventRequestId']}}</td>
                  <td>{{events['Event Topic']}}</td>
                  <td>{{events['Event Type']}}</td>
                  <td>{{events['Event Date']}}</td>
                  <td><span class="text-primary">View</span></td>
                  <td>{{events['Honorarium Request Status']}}</td>
                  <td>{{events['Honorarium Approved Date']}}</td>
                  <td><span class="text-primary">View</span></td>
                </tr>

              </tbody>

            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-spinner-loader [isLoading]="loadingIndicator"></app-spinner-loader>